@media (max-width: 576px) {
  /* navbar */
  #nav-bar a {
    display: block;
    text-align: start;
  }

  .nav-item {
    border: none;
  }

  /* certificate */
  .line-bot,
  .line-left {
    border: none;
  }

  .m-line-bot {
    border-bottom: 1px solid #fa5252;
  }

  .padding-project {
    padding: 5px 30px;
  }
  /* footer */
  #footer a {
    font-size: 60%;
  }

  /* digital-cv */
  .grid {
    display: block;
  }

  /* footer */
  #footer span {
    display: none;
  }
}
